@charset "utf-8";
:root {
    --font-color-0: #04077e;
    --font-color-1: #000;
    --font-color-2: #666;
    --font-color-3: #aaa;
    --font-color-4: rgba(51, 51, 51, 0.8);
    --font-color-5: rgba(61, 173, 166, 0.8);
    --bg-color-1-1: #eee;
    --line-1: #ccc;
    --line-2: #ddd;
    --bg-color-1: rgba(255, 255, 255, 0.7);
    --bg-color-2: rgba(255, 255, 255, 1);
    --bg-color-3: rgba(255, 255, 255, 0.8);
    --bg-color-4: rgb(239, 237, 241);
    --bg-color-5: rgb(246, 246, 246);
    --bg-color-6: rgb(229, 229, 229);
    --bgshadow1: 3px 4px 12px 3px rgba(111, 109, 133, 0.2);
    --bgshadow2: 3px 4px 12px 3px rgba(111, 109, 133, 0.09);
    --bgshadow3: #e8e8e8;
    --bgshadow4: #ffffff;
    /*  https://s1.ax1x.com/2022/09/23/xkAVVf.jpg
        https://s1.ax1x.com/2022/09/23/xkAZa8.jpg
        https://s1.ax1x.com/2022/09/23/xkA1rq.jpg*/
    --bg: rgba(255, 255, 255, 1);
    /*--bg: url("https://s1.ax1x.com/2022/09/23/xkAVVf.jpg") no-repeat 0em 0em/100% 20em;*/
}

[color-theme="dark"] {
    --bg-color-1: rgba(46, 53, 56, 1);
    --bg-color-2: rgba(51, 51, 51, 1);
    --bg-color-3: rgba(54, 59, 64, 1);
    --bg-color-4: rgba(82, 86, 89, 0.9);
    --bg-color-5: rgb(46, 53, 56);
    --bg-color-6: rgb(32, 36, 39);
    --bgshadow3: rgba(57, 66, 70, 1);
    --bgshadow4: rgba(57, 66, 70, 1);
    --font-color-1: rgba(255, 255, 255, 0.75);
    --font-color-2: rgba(255, 255, 255, 0.6);
    --font-color-4: var(--font-color-1);
    --font-color-5: rgba(61, 173, 166, 0.67);
}

[color-theme="light"] {
    --bg-color-1: rgba(255, 255, 255, 0.8);
    --bg-color-2: rgba(255, 255, 255, 1);
    --bg-color-4: rgb(239, 237, 241);
}


/* [bg-img='0'] {
    --bg: url("https://s1.ax1x.com/2022/09/23/xkA1rq.jpg")no-repeat 0em -5em/100% 21em;
}

[bg-img='1'] {
    --bg: url("https://s1.ax1x.com/2022/10/03/xMxz7R.jpg")no-repeat 0em -10em/100% 26em;
}

[bg-img='2'] {
    --bg: url("https://s1.ax1x.com/2022/09/23/xkAVVf.jpg") no-repeat 0em 0em/100% 20em;

} */

@font-face {
    font-family: "orb";
    src: url("../fonts/Orbitron.ttf");
}

p {
    word-wrap: break-word;
    white-space: pre-wrap;
}

input:focus {
    outline: none;
}

body {
    font-family: "Montserrat", "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.6px;
    color: var(--font-color-2);
}

::-WEBkit-scrollbar {
    width: 0px;
}


/* 页面背景 */

.backg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*background: rgba(61, 65, 67,0.5);*/
    background: var(--bg-color-4);
}

a {
    text-decoration: none;
    color: var(--font-color-1);
}

@keyframes bgScale {
    0% {
        transform: scale(1.0);
        opacity: 100%;
        filter: blur(0);
    }
    50% {
        transform: scale(1.2);
        opacity: 80%;
        filter: blur(0.6px);
    }
    100% {
        transform: scale(1);
        opacity: 100%;
        filter: blur(0);
    }
}


/* 背景图片 */

.bgimg {
    width: 100%;
    height: 265px;
    position: absolute;
    top: 0px;
    background: var(--bg);
    /*filter: blur(0.6px);*/
    left: 0;
    z-index: -1;
    animation: bgScale 10s linear infinite;
}

.bgimg:after {
    content: "";
    width: 100%;
    height: 265px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(248, 252, 255, 0) 35%, var(--bg-color-2) 85%);
    z-index: 1;
}


/*.bgimgB {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    background: var(--bg);
    filter: blur(0.6px);
    left: 0;
    z-index: -1;
}
*/

@media screen and (max-width: 600px) {}

html,
body {
    height: 100%;
}


/* 页面主题 */

.paper {
    /* width: 1300px; */
    height: 100%;
    padding: 1em 1em;
    display: none;
}

.paper-main {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    max-height: 900px;
    margin: 0 auto;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    z-index: 66;
    animation: move .7s ease;
    box-shadow: 0 0 0 1.6px rgba(51, 51, 51, 0.5);
    background: var(--bg-color-6);
    padding: 1em 1em;
}

@keyframes move {
    0% {
        transform: scale(1.08);
        filter: opacity(80%);
    }
    100% {
        transform: scale(1.0);
        filter: opacity(100%);
    }
}

@keyframes moreShow {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes moreHide {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.more-show {
    animation: moreShow 1.5s ease;
}

.more-hide {
    animation: moreHide 1.5s ease;
}


/* 头部 */

.header {
    width: 27%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 66;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgb(233, 97, 97); */
}

.flex-block {
    width: 27%;
    height: 100%;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    /* background: var(--bg-color-5); */
    padding: 1em;
    /* z-index: 99; */
    max-width: 378px;
    max-height: 900px;
}

.flex-block div:nth-child(1) {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color-5);
    clip-path: polygon(0 0, 60% 0%, 65% 10%, 65% 23%, 70% 30%, 94% 30%, 100% 40%, 100% 100%, 0 100%);
    border-radius: 15px;
}

.flex-block div:nth-child(2) {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgb(235, 235, 235); */
    background: var(--bg-color-6);
    clip-path: polygon(0 0, 60% 0%, 65% 10%, 65% 23%, 70% 30%, 94% 30%, 100% 40%, 100% 100%, 0 100%);
    border-radius: 15px;
    transform: scale(0.9);
}


/* 圆形 */

.flex-block div:nth-child(3) {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 30%;
    background: rgb(124, 135, 163);
    border-radius: 50%;
}


/* 圆形 */

.flex-block div:nth-child(4) {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
    transform: translateY(-25%);
    left: 63%;
    background: rgb(192, 114, 114);
    border-radius: 50%;
    /* display: none; */
}


/* more */

.flex-block div:nth-child(5) {
    width: 30%;
    height: 7%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-color-5);
    border-radius: 12px;
}

.flex-block div:nth-child(6) {
    width: 100%;
    height: 61%;
    position: absolute;
    bottom: 7%;
    left: 0;
    background: var(--bg-color-5);
    border-radius: 15px;
}

.flex-block div:nth-child(8) {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 16%;
    transform: translateY(-25%);
    left: 63%;
    /* background: rgb(192, 114, 114); */
    box-shadow: 0 0 0 0.8px rgba(51, 51, 51, 0.6);
    border-radius: 50%;
    /* display: none; */
}

.flex-block div:nth-child(7) {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 18%;
    transform: translateY(-25%);
    left: 73%;
    /* background: rgb(192, 114, 114); */
    background: rgba(51, 51, 51, 0.4);
    /* box-shadow: 0 0 0 1px rgba(51,51,51, 0.6); */
    border: 1px solid rgba(51, 51, 51, 0.6);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    /* display: none; */
}


/* ------------------------------------------------------ */

.flex-r-block {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    /* background: var(--bg-color-5); */
    padding: 1em;
    z-index: -1;
    max-width: 980px;
}

.flex-r-block div:nth-child(1) {
    width: 98.5%;
    height: 93.5%;
    position: absolute;
    top: 3%;
    right: 0%;
    background: var(--bg-color-5);
    border-radius: 15px;
    /* box-shadow: 0 0 0 0.4px rgba(51, 51, 51, 0.79); */
}


/* 收藏功能
---------------------------------- */

.collection {
    width: 25%;
    height: 120px;
    background: var(--bg-color-3);
    margin: 0 auto;
    margin-bottom: 1.4em;
    border-radius: 16px;
    box-shadow: 6.8px 5.1px 5.3px rgba(0, 0, 0, 0.02), 22.8px 17.2px 17.9px rgba(0, 0, 0, 0.024), 102px 77px 80px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0.3em;
    position: absolute;
    left: 2.5%;
    top: 37%;
    z-index: 66666;
}

.collection #colSign {
    width: 70px;
    height: 25px;
    font-size: 14px !important;
    border-radius: 9px 0 9px 0;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--font-color-4);
    box-shadow: 4px 7.9px 10px rgba(0, 0, 0, 0.045), 32px 63px 80px rgba(0, 0, 0, 0.07);
    background: rgba(214, 237, 236, 0.67);
    padding: 2px;
}

.collection ul {
    width: 100%;
    height: 110%;
    /* background: #2d556a; */
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    align-items: center;
    overflow: scroll;
}

.collection ul li {
    width: 115px;
    height: 50px;
    margin-right: 0.2em;
    /* box-shadow: 0 0 0 0.3px #000; */
    border-radius: 16px;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba( 45, 85, 106, 0.13);
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    font-size: 14px;
    border-radius: 12px;
}

.frame {
    display: none
}


/* 更多内容 */


/* ----------------------------------------------- */

.more {
    width: 3em;
    height: 3em;
    position: absolute;
    right: 0.4em;
    top: 2%;
    /*font-family: "orb";*/
    font-size: 18px;
    border-radius: 50%;
    transition: transform 1s ease;
    z-index: 68;
    cursor: pointer;
}

.moreContent {
    width: 100%;
    height: 100%;
    background: var(--bg-color-3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 88;
    padding: 1em 0.9em;
    display: none;
    overflow: scroll;
}

.moreContent h4 {
    margin: 1em 0;
}

.moreContent .changebg {
    color: rgba(230, 190, 197, 1.0);
}

.closeMore {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.5);
    position: fixed;
    right: 9%;
    top: 75%;
    z-index: 100;
    animation: move .8s ease;
    display: none;
}

.closeMore svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0.8em;
}

.moreContent .commit {
    width: 100%;
    height: 30em;
}

.commit div {
    width: 100%;
}

.commit ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.commit ul li {
    width: 30%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.comment {
    width: 100%;
    height: 8em;
    /*position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    border-radius: 12px;
    background: rgba(243, 246, 248, 1);
}

.comment_t {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.pub {
    width: 64%;
    height: 6em;
    /*background: rgba(233, 194, 191, 1.8);*/
    margin: 0 auto;
    padding: 0.4em;
}

.send {
    width: 32%;
    height: 8em;
    background: rgba(242, 228, 227, 1);
    border-radius: 20px;
    text-align: center;
    line-height: 5em;
    box-shadow: 3px 4px 12px 3px rgba(111, 109, 133, 0.1);
}

.send h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.send:active {
    transform: scale(0.95);
    box-shadow: 3px 3px 13px 2px rgba(111, 109, 133, 0.5);
}

.m_pub {
    width: 97%;
    border: none;
    height: 3em;
    background: rgba(172, 220, 228, 0.1);
    box-shadow: 0 0 0 1px darkgrey;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1em;
}

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 66;
    display: none;
}


/* 所有文章
----------------------------------------------------------------------- */

.header .allArticle {
    cursor: pointer;
    color: var(--font-color-1);
    display: none;
}

.header .articles {
    width: 96%;
    height: 36%;
    position: absolute;
    bottom: 2.4em;
    left: 50%;
    transform: translate(-50%, 0);
    /* background: rgba(255, 255, 255, 1.0); */
    z-index: 68;
    /* box-shadow: var(--bgshadow1); */
    border-radius: 12px;
    padding: 0.4em;
    /* padding-bottom: 1em; */
    /* display: none; */
    /* box-shadow: 0 0 0 0.3px rgba(51, 51, 51, 0.2); */
}

.articles .articlesDate {
    display: none;
}

.articles .articlesClass {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    animation: move .8s ease;
    position: relative;
}

.articles .articlesClass>li {
    width: 98%;
    height: auto;
    display: flex;
    animation: move .8s ease;
    box-shadow: 0 0 0 0.27px var(--font-color-4);
    padding: 0.5em 0.2em;
    transform: translateY(6px);
    border-radius: 18px;
    margin-bottom: 1.2em;
}

.articlesClass>li>span {
    width: 60px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(150, 156, 170);
    text-align: center;
    font-size: 13.2px;
    border-radius: 6px;
    color: rgba(51, 51, 51, 0.7);
}

.articlesClass>li>ul {
    width: 100% !important;
    height: 100%;
    /* background: #000; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.articlesClass ul>li {
    width: 24%;
    height: 3em;
    /* background: var(--bg-color-1); */
    box-shadow: var(--bgshadow2);
    flex-grow: 1;
    margin: 0.4em;
    border-radius: 8px;
    position: relative;
    /* box-shadow: 0 0 0 0.3px rgba(51, 51, 51, 0.8); */
    font-size: 12px;
    text-align: center;
}

.closeArt {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    right: 9%;
    bottom: 20%;
    z-index: 88;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move .8s ease;
    display: none;
}

.closeArt svg {
    font-size: 25px;
}

.logo {
    width: 20px !important;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    flex: 0 0 100%;
    font-family: "orb";
    z-index: 66;
    margin-top: 1em;
}

.logo text {
    animation: text 2s ease;
    fill: rgba(51, 51, 51, 0.8);
    z-index: 66;
}

@keyframes text {
    0% {
        transform: translateX(18px);
        /* stroke-width: 0.1px; */
        fill: rgba(255, 255, 255, 1);
    }
    30% {
        stroke-width: 0px;
    }
    100% {
        fill: rgba(51, 51, 51, 0.7);
    }
}


/* 工具组件
------------------------------------------------------- */

.tools {
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.2em;
    padding-left: 20px;
    z-index: 99999;
}

.tools .toolContent {
    width: 11em;
    height: 2.3em;
    border: 0.8px solid var(--font-color-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.3em;
    cursor: pointer;
    margin-top: 1.4em;
}

.theme {
    width: 38%;
    height: 2em;
    font-size: 18px;
    border-radius: 50%;
    transition: transform 1.5s ease;
    padding: 0.1em;
}

.postListC {
    width: 60%;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color-1);
    box-shadow: var(--bgshadow2);
    border-radius: 6px;
    padding: 0.2em;
}

.singleRow {
    width: 48%;
    height: 100%;
    /*box-shadow: var(--bgshadow2);*/
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.doubleRow {
    width: 48%;
    height: 100%;
    box-shadow: 3px 4px 12px 3px rgba(111, 109, 133, 0.2);
    border-radius: 3px;
    display: flex;
    justify-content: center;
}


/* 导航
--------------------------------------------------------- */

.nav {
    margin: 0 0 4px;
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

.nav li {
    padding-left: 2px;
    margin-right: 24px;
}

.nav li:last-of-type {
    margin-right: 0;
}

.nav li a {
    color: var(--font-color-1);
    opacity: .6;
    transition: opacity ease-in-out .5s;
}

.nav li a:hover {
    opacity: 1;
    transition: opacity ease-in-out .5s;
}


/* 文章头部
------------------------------------------------------ */

.post-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
}

.post-header .logo {
    height: 3px;
    font-size: 1.5rem;
    transform: translate(-20px, -30px);
}

.themePage2 {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 3em;
    top: 0.4em;
    cursor: pointer;
}

.post-header .go-home {
    padding: 10px 15px 8px;
    border-radius: 18px;
    background: #fff;
    border: 1px solid #eee;
    margin: 8px 0;
    transition: background ease-in-out .5s;
    position: fixed;
    bottom: 3em;
    z-index: 99;
    background: rgba(51, 51, 51, 0.5);
    padding: 0.9em 1.2em;
}

.post-header .go-home:hover {
    background: var(--bg-color-1-1);
    transition: background ease-in-out .5s;
}

.post-header .go-home svg {
    transform: translateX(0);
    transition: transform ease-in-out .5s;
}

.post-header .go-home:hover svg {
    transform: translateX(-4px);
    transition: transform ease-in-out .5s;
}


/* 搜索组件 */


/* ----------------------------------------------- */

.search {
    width: 169%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6666;
    top: 1%;
    left: 104%;
    margin-bottom: 3em;
}

.searchBody {
    width: 87%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color-3);
    box-shadow: var(--bgshadow2);
    border-radius: 16px;
    position: relative;
    z-index: 66;
}

.search .result {
    width: 98%;
    height: 8em;
    background: rgba(255, 255, 255, 1);
    box-shadow: var(--bgshadow2);
    border-radius: 16px;
    position: absolute;
    top: 140%;
    overflow-y: scroll;
    display: none;
    z-index: 66;
}

.search .result ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.search .result ul li {
    width: 98%;
    height: 3em;
    height: auto;
    text-align: center;
    background: var(--bg-color-1);
    font-size: 17px;
    margin-bottom: 0.3em;
    border-radius: 6px;
    box-shadow: var(--bgshadow2);
}

.search .result ul li span {
    color: var(--font-color-4);
}

.search .result ul li p {
    display: inline-block;
}

.search .result a {
    width: 100%;
    height: 100%;
    color: darkblue;
}

.searchBody div:nth-child(1) {
    width: 100%;
}

.searchBody input {
    width: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    text-align: center;
}

.searchBody .ssvg {
    position: absolute;
    padding-top: 0.7em;
    width: 15%;
    right: 0;
    transform: translateX(-260%);
}

.post-list {
    width: 68%;
    height: 78%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    right: 1%;
    /* background: var(--bg-color-1); */
    /* box-shadow: var(--bgshadow1); */
    padding: 0.9em;
    overflow: scroll;
    border-radius: 20px;
    margin-top: 1em;
}

.post {
    width: 31.5%;
    height: 42%;
    padding: 0.6em;
    position: relative;
    margin-bottom: 23px;
    background: var(--bg-color-3);
    border-radius: 16px;
    box-shadow: 4px 4px 12px var(--bgshadow3), -4px -4px 12px var(--bgshadow4);
    /* box-shadow: 0 0 0 0.4px rgba(51, 51, 51, 0.79); */
    position: relative;
    transition: width 0.8s ease;
}

.post .collection-star {
    width: 45px;
    height: 45px;
    border-radius: 0 50% 0 25%;
    position: absolute;
    /* top: 40%; */
    bottom: 0;
    left: 0;
    background: rgba(173, 184, 198, 0.25);
    /* box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37); */
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 9px);
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 666;
}

.collection-star .star-f {
    display: none;
}


/*改动位置------------------------------------------------*/


/*
.post:nth-child(1) {
    width: 100%;
}
*/

.post:active {
    border-radius: 25px;
    background: var(--bg-color-1);
    box-shadow: 6px 6px 12px var(--bgshadow3), -6px -6px 12px var(--bgshadow4);
    transform: skewX(3deg);
}

.post-title {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
    color: var(--font-color-1);
    /*transition: color ease-in-out .5s;*/
    text-align: center;
    animation: titleMove 1s ease;
}

@keyframes titleMove {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.post-title:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .5s;
}

.post-except-pc {
    word-break: break-all;
}

.post-except-mobile {
    display: none;
}

.read-more {
    padding: 0 4px;
    color: var(--font-color-0);
}

.read-more:before,
.read-more:after {
    display: inline-block;
    transition: transform ease-in-out .5s;
}

.read-more:before {
    content: ">";
}

.read-more:hover:before {
    transform: translateX(-4px);
    transition: transform ease-in-out .25s;
}

.read-more:hover:after {
    transform: translateX(2px);
    transition: transform ease-in-out .25s;
}

.bottomTag {
    width: 100%;
    height: 1em;
    position: absolute;
    bottom: 1em;
    left: 0;
    padding-left: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /*overflow: hidden;*/
    background: var(--bg-color-3);
}

.post-date {
    font-size: 0.875rem;
    color: var(--font-color-3);
    transform: translateX(40px);
}

.classes {
    height: 2em;
    font-size: 10px;
    background: rgba(119, 197, 193, 0.3);
    border-radius: 5px;
    padding: 6px;
    padding-right: 16px;
    margin-right: 0.3em;
    clip-path: polygon(0% 0%, 100% 0%, 88% 50%, 100% 100%, 0% 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator {
    font-size: 1.3rem;
    width: 67%;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 0;
    /* background: var(--bg-color-1); */
}

.paginator .space {
    display: block;
    padding: 8px 16px;
    border-radius: 18px;
    background: var(--bg-color-1);
    border: none;
}

.paginator a {
    margin: 4px;
    color: var(--font-color-2);
    transition: color ease-in-out .5s;
}

.paginator .current {
    color: var(--font-color-0);
    /*border: 1px solid var(--font-color-0);*/
    border-bottom: 2px solid darkcyan;
}

.footer {
    padding: 20px 0;
    font-size: 0.875rem;
    color: var(--font-color-3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    left: 5%;
    bottom: -24px;
    z-index: 66;
}

.footer span {
    text-align: center;
    margin-bottom: 8px;
}

.footer a {
    color: var(--font-color-3);
    transition: color ease-in-out .5s;
}

.footer a:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .5s;
}

.post-struction {
    width: 100%;
    height: 100%;
    position: relative;
}

.post-main {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--bg-color-3);
    box-shadow: var(--bgshadow1);
    padding: 2.3em;
    border-radius: 16px;
}

.post-struction .menu {
    width: 23%;
    height: 87%;
    /* box-shadow: var(--bgshadow1); */
    background: var(--bg-color-3);
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 12px;
    padding: 0.6em 0.3em;
    padding-bottom: 1em;
    /* display: none; */
}

.post-struction .menu>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding: 0.7em 0.7em;
}

.post-struction .menu>ul>li {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2em;
    /* background: rgba(239, 237, 241, 0.8); */
    background: var(--bg-color-4);
    padding: 0.5em 0.7em;
    border-radius: 12px;
}

.topic-1,
.topic-2,
.topic-3,
.topic-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: rgba(51, 51, 51, 0.9);
}

.topic-1 div:nth-child(1),
.topic-2 div:nth-child(1),
.topic-3 div:nth-child(1),
.topic-4 div:nth-child(1) {
    width: 70px;
    height: 100%;
    font-size: 8px;
    border-radius: 6px;
    margin-right: 6px;
    color: rgba(51, 51, 51, 0.6);
}

.topic-1 div:nth-child(1) {
    background: rgba(246, 156, 159, 0.8);
}

.topic-2 div:nth-child(1) {
    background: rgba(147, 209, 218, 0.8);
}

.topic-3 div:nth-child(1) {
    background: rgba(184, 188, 219, 0.8);
}

.topic-4 div:nth-child(1) {
    background: rgba(211, 215, 212, 0.8);
}

.post-main .menuShow {
    width: 3em;
    height: 3em;
    position: fixed;
    border-radius: 15px;
    right: 0;
    bottom: 10%;
    background: rgba(158, 215, 236, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.9);
    display: none;
}

.post-main .top {
    width: 3em;
    height: 3em;
    position: fixed;
    border-radius: 15px;
    right: 0;
    bottom: 2%;
    background: rgba(254, 173, 176, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.post-main .top svg {
    transform: rotate(90deg);
}

.menu>ul>li span {
    text-align: center;
    cursor: pointer;
    color: var(--font-color-1);
}

.post-main-title {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 2px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--font-color-1);
}

.post-meta {
    text-align: center;
    font-size: 0.875rem;
    color: var(--font-color-3);
    flex: 0 0 100%;
}

hr {
    width: 100%;
    background: rgb(161, 221, 221);
}

.archive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: normal;
}

.archive li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    padding: 12px 0;
}

.archive li:nth-child(odd) {
    background: #fafafa;
}

.archive li:nth-child(even) {
    background: #fff;
}

.archive li span {
    width: 108px;
    color: var(--font-color-2);
}

.archive-main {
    flex: 0 1 calc(100% - 108px);
}

.archive-title {
    color: var(--font-color-1);
    /*transition: color ease-in-out .5s;*/
}

.archive-title:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .5s;
}